html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html {
  overflow-x: hidden;
}
body{
  font-family: sans;
  background-color: var(--bg-color);
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
button {
  cursor: pointer;
}
a {
  text-decoration: none;
  color: inherit;
}
.h-content {
  width: 100vw;
  padding-top: 9px;
}
:root{
    --main-bg-color: #faf9ef;
}
.content{
	min-height: calc(100vh - 360px);
}
input.error {
	border-color: #C76443;
}
.hidden.hidden {
	display: none;
}

