.content {
    background-color: #faf9ef;
    display: flex;
    flex-wrap: wrap;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 1490px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 105px 0 105px;
    height: 100%;
}

.content__result {
    font: 48px/normal 'Open Sans', sans-serif;
    font-weight: 700;
    color: #002f2f;
    margin: 80px 0 75px 110px;
}

.content__main {
    background-color: #fffefd;
    display: flex;
    flex-direction: column;
}

.content__main-sorting {
    color: #4c6d6c;
    font: 14px/normal 'Open Sans', sans-serif;
}

#sorting {
    display: flex;
}

.choose__input {
    display: none;
}

.choose__input:checked+.content__main-buttonUp::before {
    position: relative;
    top: 4px;
    left: 5px;
    width: 4px;
    height: 4px;
    border-right: 2px solid #40889e;
    border-bottom: 2px solid #40889e;
    transform: rotate(45deg);
}

.content__main-filters a {
    display: flex;
}

.wrapper-content {
    padding: 0 110px 0 110px;
}

.content__main-filters {
    display: flex;
    margin-top: 32px;
}

.content__main-filter {
    color: #002f2f;
    font: 14px/normal 'Open Sans', sans-serif;
    cursor: pointer;
    margin-right: 9px;
    margin-left: 14px;
    transition-duration: .2s;
    border-bottom: 2px dotted transparent;
}
.content__main-filter:active {
    border-color: #002f2f;
}
.content__main-filter:hover {
    border-color: #002f2f;
}

.content__main-button {
    display: flex;
    border: 1px solid #f5f8f8;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    content: "";
    background-color: #f5f8f8;
    cursor: pointer;
    position: relative;
}

.content__main-button::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 5px;
    width: 4px;
    height: 4px;
    border-right: 2px solid #40889e;
    border-bottom: 2px solid #40889e;
    transform: rotate(45deg);
}

.content__main-buttonUp {
    display: flex;
    border: 1px solid #f5f8f8;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    content: "";
    background-color: #f5f8f8;
    cursor: pointer;
    position: relative;
}

.content__main-buttonUp::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 4px;
    height: 4px;
    border-right: 2px solid #40889e;
    border-bottom: 2px solid #40889e;
    transform: rotate(225deg);
}

.content__main-buttonDown::before {
    position: relative;
    top: 4px;
    left: 5px;
    width: 4px;
    height: 4px;
    border-right: 2px solid #40889e;
    border-bottom: 2px solid #40889e;
    transform: rotate(45deg);
}

.content__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.reserved {
    border: 2px solid #a7a37e;
    border-radius: 3px;
}

.free {
    border: 2px solid #002f2f;
    border-radius: 3px;
}

.sold {
    border: 2px solid #a1a1a1;
    border-radius: 3px;
}

.content__cards-card {
    display: flex;
    flex-direction: column;
    width: 320px;
    margin-top: 52px;
}

.card__img-block {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 212px;
    width: 100%;
}

.card__title {
    font: 24px/30px 'Open Sans', sans-serif;
    color: #002f2f;
    font-weight: 700;
    display: flex;
    margin: 52px 0 28px 0;
    height: 60px;
    width: 200px;
}

.card__details {
    display: flex;
    justify-content: space-between;
    width: 214px;
    margin-bottom: 44px;
}

.card__details-finishing {
    display: flex;
    flex-direction: column;
    color: #046380;
    border-left: 3px solid #046380;
    font: 16px/normal 'Open Sans', sans-serif;
    padding-left: 8px;
}

.card__details-area {
    display: flex;
    color: #313639;
    font: 13px/normal 'Open Sans', sans-serif;
    flex-direction: column;
}

.card__details-area span {
    font: 18px/normal 'Open Sans', sans-serif;
}

.card__details-floor {
    font: 13px/normal 'Open Sans', sans-serif;
    display: flex;
    color: #313639;
    flex-direction: column;
}

.card__details-floor span {
    font: 18px/normal 'Open Sans', sans-serif;
}

.card__price {
    font: 24px/normal 'Open Sans', sans-serif;
    font-weight: 600;
    margin-bottom: 32px;
    color: #313639;
}

.card__status-booked {
    height: 36px;
    background-color: #a7a37e;
    width: 100%;
    text-transform: uppercase;
    font: 12px/normal 'Open Sans', sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

.card__status-free {
    height: 36px;
    background-color: #002f2f;
    width: 100%;
    text-transform: uppercase;
    font: 12px/normal 'Open Sans', sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

.card__status-sold {
    height: 36px;
    background-color: #a1a1a1;
    width: 100%;
    text-transform: uppercase;
    font: 12px/normal 'Open Sans', sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

.card__checkbox {
    display: flex;
    margin: 16px 16px 13px auto;
    justify-content: flex-end;
}

.choose__num {
    display: none;
}

.choose__numbers {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 2px;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    cursor: pointer;
    background-image: url(../svg/star.svg)
}

.choose__num:checked+.choose__numbers {
    background-image: url(../svg/star_a.svg)
}

.choose__input:checked+.choose__label {
    background-image: url(../svg/star_a.svg)
}

.card__topline-offers {
    display: flex;
}

.topline__sale {
    color: white;
    background-color: #ff4444;
    border-radius: 3px;
    margin-left: 20px;
    text-transform: uppercase;
    padding: 3px;
    font: 12px/normal 'Open Sans', sans-serif;
}

.card__topline {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card__center {
    padding: 0 54px 0 54px;
}

.content__showmore {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 53px 0 47px 0;
}

.button__showmore {
    height: 74px;
    width: 41em;
    background-color: #046380;
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
    font: 14px/normal 'Open Sans', sans-serif;
    color: white;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button__showmore:hover {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.5);
    transition-duration: .1s;
}

.b0x-hidden {
    display: none;
}
.content__cards .content__cards-card {
    display: none;
}

#loadMore {
    transition: all 600ms ease-in-out;
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
}
#button-up {
    display: none;
    position: fixed;
    bottom: 50px;
    outline: none;
    right: 0;
    margin-right: 105px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    content: "";
    background-color: #a7a37e;
    cursor: pointer;
}

#button-up:hover {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.5);
    transition-duration: .4s;
}

#button-up::before {
    content: "";
    position: absolute;
    top: 33px;
    left: 26px;
    width: 24px;
    height: 24px;
    border-right: 5px solid #fffefd;
    border-bottom: 5px solid #fffefd;
    border-radius: 3px;
    transform: rotate(225deg);
}

#menuToggle {
    display: none;
    position: relative;
    top: 0px;
    left: 10px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle input {
    display: block;
    width: 30px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -2px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
}

#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: white;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: white;
}

#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

#menu {
    position: absolute;
    width: 1180px;
    margin: -100px 0 0 -100px;
    padding: 50px;
    padding-top: 125px;
    overflow: hidden;
    padding-left: 100px;
    background: #002f2f;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
    padding: 10px 0;
    font-size: 22px;
}