.wrapper-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 1490px;
    padding: 0 105px 0 105px;
    height: 100%;
}

.footer {
    height: 200px;
    width: 100%;
    background-color: #046380;
    margin-top: 100px;
    border-radius: 3px;
}

.footer__content {
    display: flex;
    margin: 60px 108px 0 54px;
    justify-content: space-between;
}

.footer__content-title {
    color: white;
}

.footer__content-title h2 {
    font: 34px/normal 'Open Sans', sans-serif;
}

.footer__content-title h4 {
    margin-top: 24px;
    font: 18px/normal 'Open Sans', sans-serif;
}

.footer__form {
    display: flex;
    align-items: center;
}

::placeholder {
    color: #046380;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #046380;
}

::-ms-input-placeholder {
    color: #046380;
}

input[type=submit] {
    padding: 15px 48px;
    background: #a7a37e;
    color: white;
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 3px;
    outline: none;
    text-transform: uppercase;
    font: 16px/normal 'Open Sans', sans-serif;
}

.content__form-input {
    height: 50px;
    border-radius: 3px;
    border: none;
    padding-left: 20px;
    margin-right: 54px;
}

.subscribe {
    display: none;
}

.subscribe__label {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 18px;
    height: 18px;
    margin-right: 10px;
    cursor: pointer;
    background-color: white;
    border-radius: 3px;
}

.subscribe:checked+.subscribe__label::before {
    background-image: url(../svg/tick.svg);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}

.subscribe:checked+.subscribe__label {
    background-image: url(../svg/tick.svg);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}

.footer__subscribe-form {
    display: flex;
    margin-top: 18px;
    align-items: center;
    font: 18px/normal 'Open Sans', sans-serif;
    color: white;
}


#menuToggle input:checked~ul {
    transform: none;
}