/* HEADER */

.header {
    display: flex;
    height: 126px;
    background-color: #002f2f;
    padding: 0 160px 0 106px;
    align-items: center;
}

.navigation {
    display: none;
}

.logo {
    width: 35px;
}

.header__nav {
    display: flex;
    align-items: center;
    margin-left: 120px;
    width: 100%;
}

.header__nav-item {
    font: 24px/normal 'Open Sans', sans-serif;
    color: white;
    text-decoration: none;
    display: flex;
    margin-right: 47px;
    transition-duration: .2s;
}

.header__nav-item:hover {
    color: #a7a37e;
}

.header__phone {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.header__phone-number:hover {
    color: #a7a37e;
}

.header__phone-number {
    font: 32px/normal 'Open Sans', sans-serif;
    color: white;
    text-decoration: none;
    transition-duration: .2s;
}

.header__phone-callus {
    font: 20px/normal 'Open Sans', sans-serif;
    color: white;
}