
@media(max-width:1600px) {
    .header__phone {
        width: 20%;
    }
    .header__nav-item {
        font: 18px/normal 'Open Sans', sans-serif;
    }
    .header {
        padding: 0 106px 0 106px;
    }
    .content__cards-card {
        margin-right: 52px;
    }
    .content__cards {
        justify-content: center;
    }
    .header__phone-number {
        font: 24px/normal 'Open Sans', sans-serif;
    }
    .header__phone-callus {
        font: 18px/normal 'Open Sans', sans-serif;
    }
    .content__showmore {
        width: 95%;
    }
}

@media(max-width:1450px) {
    .header__phone {
        width: 16%;
    }
    .header__nav {
        margin-left: 60px;
        width: auto;
        margin-right: 5%;
    }
    .header {
        padding: 0 45px 0 45px;
    }
    #button-up {
        margin-right: 35px;
        width: 60px;
        height: 60px;
    }
    #button-up::before {
        top: 24px;
        left: 19px;
        width: 18px;
        height: 18px;
    }
}

@media(max-width: 1280px) {
    .header__phone-number {
        font: 20px/normal 'Open Sans', sans-serif;
    }
    .header__nav-item {
        font: 15px/normal 'Open Sans', sans-serif;
    }
    .header__phone-callus {
        font: 15px/normal 'Open Sans', sans-serif;
    }
    .logo {
        width: 25px;
    }
}

@media(max-width: 1150px) {
    .header__nav {
        display: none;
    }
    .navigation {
        display: flex;
    }
    #menuToggle{
        display: block;
    }
    .header {
        justify-content: space-between;
    }
    .header__phone {
        width: auto;
    }
    .header__nav-item {
        font: 25px/normal 'Open Sans', sans-serif;
    }
    .wrapper {
        padding: 0;
    }
    .footer__content-title h4 {
        margin-top: 14px;
        font: 14px/normal 'Open Sans', sans-serif;
    }
    .footer__content-title h2 {
        font: 24px/normal 'Open Sans', sans-serif;
    }
    .footer__subscribe-form {
        font: 14px/normal 'Open Sans', sans-serif;
    }
    .content__form-input {
        height: 40px;
    }
    input[type=submit] {
        padding: 11px 30px;
        font: 16px/normal 'Open Sans', sans-serif;
    }
    .footer__content {
        display: flex;
        margin: 60px 40px 0 40px;
        justify-content: center;
    }
    .subscribe__label {
        width: 14px;
        height: 14px;
    }
    .wrapper-footer {
        padding: 0;
    }
    .footer__content-title {
        width: 30%;
    }
}
@media(max-width: 800px){
    .content__result {
        margin: 80px 0 75px 0;
        display: flex;
        padding: 0 110px 0 110px;
        font: 30px/normal 'Open Sans', sans-serif;
    }
    .footer__content-title {
        display: none;
    }
}
@media(max-width: 620px){
    .content__result {
        padding: 0 30px 0 30px;
        justify-content: center;
        font: 26px/normal 'Open Sans', sans-serif;
    }
    .footer__content {
        justify-content: center;
    }
    .header {
        padding: 0 20px 0 20px;
    }
    .logo{
        display: none;
    }
    .content {
        justify-content: center;
    }
    .content__main-filters {
        justify-content: center;
    }
    .content__cards-card {
        margin-right: 0
    }
    .content__showmore {
        width: 100%;
    }
    .button__showmore {
        width: 28em;
    }
    .footer {
        margin-top: 50px;
    }
    #button-up {
        margin-right: 15px;
        width: 40px;
        height: 40px;
    }
    #button-up::before {
        top: 15px;
        left: 13px;
        width: 10px;
        height: 10px;
    }
    .header__nav-item {
        font: 21px/normal 'Open Sans', sans-serif;
    }
}
@media(max-width: 420px){
    .footer__form {
        flex-direction: column;
    }
    .content__form-input {
        margin-right: 0
    }
    .footer__content {
        display: flex;
        margin: 50px 0px 0 0px;
        justify-content: center;
    }
    input[type=submit] {
        padding: 11px 43px;
        font: 14px/normal 'Open Sans', sans-serif;
        margin-top: 14px;
    }
    .button__showmore {
        width: 18em;
    }
}
@media(max-width: 320px){
    .content__cards-card {
        width: 280px;
    }
}